<!-- <iframe src="{{ "/cv/Furkan_Sahinuc_CV.pdf" }}" width="100%" height="600px" /> -->

<!-- <iframe
    src="https://docs.google.com/gview?embedded=true&amp;url=https://furkansahinuc.github.io/cv/CV_31_03_2023.pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></iframe> -->

<head>
<meta http-equiv="refresh" content="0; URL=https://furkansahinuc.github.io/cv/CV_22_09_2024.pdf" />
</head>

<!--  <object data="https://docs.google.com/gview?embedded=true&amp;url=https://furkansahinuc.github.io/cv/CV_30_10_2023.pdf" type="application/pdf" width="100%" height="100%"> --> 

  <!-- <iframe src="{{ "/cv/CV_19_10_2022.pdf" }}" width="100%" height="100%"/> -->

<!-- <object data="{{ "/cv/CV_19_10_2022.pdf" }}" width="100%" height="100%" type='application/pdf'>
    <iframe
    src="{{ "/cv/CV_19_10_2022.pdf" }}"
    width="100%" 
    height="100%"
  >
    </iframe>   
</object> -->