<!-- <iframe src="{{ "/cv/Furkan_Sahinuc_CV.pdf" }}" width="100%" height="600px" /> -->

<iframe
    src="https://docs.google.com/gview?embedded=true&amp;url=https://furkansahinuc.github.io/cv/CV_13_11_2022.pdf"
    frameBorder="0"
    scrolling="auto"
    height="100%"
    width="100%"
></iframe>

<!-- <iframe src="{{ "/cv/CV_19_10_2022.pdf" }}" width="100%" height="100%"/> -->

<!-- <object data="{{ "/cv/CV_19_10_2022.pdf" }}" width="100%" height="100%" type='application/pdf'>
    <iframe
    src="{{ "/cv/CV_19_10_2022.pdf" }}"
    width="100%" 
    height="100%"
  >
    </iframe>   
</object> -->