<link rel="stylesheet" href="{{ "/assets/modal_image.css" | relative_url }}">
<style>
  .holder{
    text-align: center;
  }
  .bottom{
    padding-bottom: 30px; 
  }
</style>

<div class="holder bottom" style="float:left; margin:0px 50px;">
  <div>Türkiye 2010</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/turkiye.JPEG" alt="Türkiye 2010" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
  <div>Argentina 2022 World Cup Winner Edition</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/argentina.JPEG" alt="Argentina 2022 World Cup Winner Edition" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Fenerbahçe 93-94 (Retro)</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/fener_retro.JPEG" alt="Fenerbahçe 1993-1994" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Fenerbahçe Centenary 2007 </div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/fener_100.JPEG" alt="Fenerbahçe Centenary 2007" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Fenerbahçe 2014-2015</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/fener_15.JPEG" alt="Fenerbahçe 2014-2015" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Fenerbahçe 2021-2022</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/fener_22.JPEG" alt="Fenerbahçe 2021-2022" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Fenerbahçe 2022-2023</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/fener_23.JPEG" alt="Fenerbahçe 2022-2023" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Dortmund 2016-2017</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/bvb.JPEG" alt="Dortmund 2016-2017" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Napoli 2018-2019</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/napoli.JPEG" alt="Napoli 2018-2019" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px">
  <div>Liverpool 2020-2021</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/lpool.JPEG" alt="Liverpool 2020-2021" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Man. United 2018-2019</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/manu.JPEG" alt="Man. United 2018-2019" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Chelsea 2018-2019</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/chelsea.JPEG" alt="Chelsea 2018-2019" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Man. City 2019-2020</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/mancity.JPEG" alt="Man. City 2019-2020" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Tottenham 2018-2019</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/spurs.JPEG" alt="Tottenham 2018-2019" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Southampton 2019-2020</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/soton.JPEG" alt="Southampton 2019-2020" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Barcelona Pre-Match 2022-2023</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/barca.JPEG" alt="Barcelona Pre-Match 2022-2023" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Real Madrid 2017-2018</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/real.JPEG" alt="Real Madrid 2017-2018" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Inter 2020-2021</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/inter.JPEG" alt="Inter 2020-2021" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Milan 2019-2020</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/milan.JPEG" alt="Milan 2019-2020" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Juventus 2021-2022</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/juve.JPEG" alt="Juventus 2021-2022" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Monaco 2020-2021</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/monaco.JPEG" alt="Monaco 2020-2021" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Marseille 2019-2020</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/marseille.JPEG" alt="Marseille 2019-2020" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Benfica 2016-2017</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/benfica.JPEG" alt="Benfica 2016-2017" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Red Star 2019-2020</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/redstar.JPEG" alt="Red Star 2019-2020" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Ankaragücü 2020-2021</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/ank.JPEG" alt="Ankaragücü 2020-2021" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px"> 
  <div>Boston Celtics 2019-2020</div>
  <div><img class="myImages" id="myImg" src="/misc/jerseys/images/celtics.JPEG" alt="Boston Celtics 2019-2020" width="192px" height="256px"></div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="/assets/modal_image.js"></script>

<!-- <script>
// create references to the modal...
var modal = document.getElementById('myModal');
// to all images -- note I'm using a class!
var images = document.getElementsByClassName('myImages');
// the image in the modal
var modalImg = document.getElementById("img01");
// and the caption in the modal
var captionText = document.getElementById("caption");

// Go through all of the images with our custom class
for (var i = 0; i < images.length; i++) {
  var img = images[i];
  // and attach our click listener for this image.
  img.onclick = function(evt) {
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
}

var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
}
</script> -->
