<link rel="stylesheet" href="{{ "/assets/misc_cards.css" | relative_url }}">


<div class="cards-list">
  
    <div class="card">
        <div class="card_title title-black">
            <p>My jersey collection</p>
        </div>
        <div class="card_image"> <a href="{{ "/misc/jerseys" | relative_url }}"> <img src="/misc/jerseys/icon.png"/></a></div>
    </div>

    <div class="card">
        <div class="card_title title-black">
            <p>My scarf collection</p>
        </div>
        <div class="card_image"> <a href="{{ "/misc/scarfs" | relative_url }}"> <img src="/misc/scarfs/icon.png"/></a></div>
    </div>

    <div class="card">
        <div class="card_title title-black">
            <p>Tournaments collection</p>
        </div>
        <div class="card_image"> <a href="{{ "/misc/tournaments" | relative_url }}"> <img src="/misc/tournaments/icon.png"/></a></div>
    </div>
    
</div>