<link rel="stylesheet" href="{{ "/assets/modal_image.css" | relative_url }}">
<style>
  .holder{
    text-align: center;
  }
  .bottom{
    padding-bottom: 30px; 
  }
</style>

<div class="holder bottom" style="float:left; margin:0px 50px;">
  <div>Euro 2004 (Roteiro)</div>
  <div><img class="myImages" id="myImg" src="/misc/tournaments/images/eu_04_ball.JPEG" alt="Euro 2004 (Roteiro)" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
    <div>World Cup 2018 (Telstar)</div>
    <div><img class="myImages" id="myImg" src="/misc/tournaments/images/wc_18_ball.JPEG"  alt="World Cup 2018 (Telstar)" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
  <div>World Cup 2022 (Al-Rihla)</div>
  <div><img class="myImages" id="myImg" src="/misc/tournaments/images/wc_22_ball.JPEG"  alt="World Cup 2022 (Al-Rihla)" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
    <div>uCL 2023 Final İstanbul</div>
    <div><img class="myImages" id="myImg" src="/misc/tournaments/images/ucl_23_ball.JPEG"  alt="UCL 2023 Final İstanbul" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
  <div>World Cup 2018</div>
  <div><img class="myImages" id="myImg" src="/misc/tournaments/images/wc_18_tshirt.JPEG"  alt="World Cup 2018" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
    <div>Euro 2020</div>
    <div><img class="myImages" id="myImg" src="/misc/tournaments/images/eu_20_tshirt.JPEG"  alt="Euro 2020" width="192px" height="256px"></div>
</div>

<div class="holder bottom" style="float:left; margin:0px 50px;">
    <div>World Cup 2022</div>
    <div><img class="myImages" id="myImg" src="/misc/tournaments/images/wc_22_tshirt.JPEG"  alt="World Cup 2022" width="192px" height="256px"></div>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="/assets/modal_image.js"></script>

<!-- <script>
// create references to the modal...
var modal = document.getElementById('myModal');
// to all images -- note I'm using a class!
var images = document.getElementsByClassName('myImages');
// the image in the modal
var modalImg = document.getElementById("img01");
// and the caption in the modal
var captionText = document.getElementById("caption");

// Go through all of the images with our custom class
for (var i = 0; i < images.length; i++) {
  var img = images[i];
  // and attach our click listener for this image.
  img.onclick = function(evt) {
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
}

var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
}
</script> -->
